* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.gallery {
  --number-of-cards: 1;
  --gap: 20px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card {
  width: 100%;
  height: 300px;
  overflow: hidden;

  width: calc(
    100% / var(--number-of-cards) - var(--gap) * (var(--number-of-cards) - 1) /
      (var(--number-of-cards))
  );
}

@media only screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;

    --gap: 30px;
    --number-of-cards: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery {
    --gap: 40px;
    --number-of-cards: 3;
  }
}

.gallery__card {
  position: relative;
}

.card__info {
  position: absolute;
  width: 100%;

  bottom: 0;
}

.info {
  display: flex;
  justify-content: space-around;

  background-color: #ffffff92;
  color: black;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms, transform 500ms ease;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.info__item {
  text-align: center;
}

.card__image {
  object-fit: cover;
  object-position: center;

  width: 100%;
  height: 100%;
}

.button__load-more {
  display: none;
}

.form__input {
  width: 272px;
  margin-right: 8px;
  padding: 8px 16px;

  border-radius: 4px;
  color: #808080;
  border: 1px solid #808080;
  outline: none;

  transition: border 0.5s ease;
}

.header__form {
  display: flex;
  justify-content: center;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #4e75ff;
  color: #fff;
}

.button:hover {
  background-color: #6c8cff;
  transition: background-color 0.5s ease;
}

.button__load-more {
  margin: 0 auto;
  transition: border 0.5s ease;
}

.form__input:hover {
  border: 1px solid black;
}

.form__input:focus {
  border: 1px solid #4e75ff;
}
